<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Portal de Serviços - ADECE{% endblock %}</title>

        {% block stylesheets %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100 font-sans leading-normal tracking-normal">

    {% block layout %}{% endblock %}

    <script src="{{ asset('app.js') }}" defer></script>

    {% block javascripts %}{% endblock %}
    </body>
</html>
